<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <title>1</title>
</head>
<body>
    <%# START %>
      <ul class="memberList" id="list">
        <li>
          <span>No</span>
          <span>ID</span>
          <span>苗字</span>
          <span>氏名</span>
          <span>帰り方</span>
        </li>
        <%# ループ --- //%>
        <%#// --- ループ %>
      </ul>
      <ul class="totalValue">
          <li>
            <span>各合計人数</span>
            <span id="eachName"></span><span id="eachTotal"></span>
            <!--
            <span id="eachName">未定</span><span id="eachTotal">15</span>
            <span id="eachName">バス1</span><span id="eachTotal">5</span>
            <span id="eachName">バス2</span><span id="eachTotal">8</span>
            <span id="eachName">自家用車</span><span id="eachTotal">25</span>
            <span id="eachName">徒歩</span><span id="eachTotal">15</span>
            -->
          </li>
          <li>
            <span>合計人数</span>
            <span id="total"></span>
          </li>
      </ul>
    <%# //- END %>
<script>
  var milkcocoa = new MilkCocoa('flagiodjdk8y.mlkcca.com');
  var ds = milkcocoa.dataStore('messages');
  var total = 0;
  (function($){
      ds.stream().next(function(err, list) {
          _.each(list, function(data) {
              if (!data.value) return;
              var v = data.value;
              var rootName = { "0":"未定", "1":"バス１", "2":"バス２", "3":"自家用車", "4":"徒歩", "5":"その他１", "6":"その他２" };

              if (!v.ID) return;
              $('#list').append('<li><span>'+(total+1)+'</span> <span>'+ v.ID + '</span> <span>'+ v.first + '</span> <span>'+ v.last + '</span> <span>'+ rootName[v.root] + '</span></li>');
              ++total;
          });
          $('#total').text(total);

      });
      ds.on('push', function(data) {
          if (!data.value) return;
          var v = data.value;
          if (!v.ID) return;
          $('#list').append('<li><span>'+(total+1)+'</span> <span>'+ v.ID + '</span> <span>'+ v.first + '</span> <span>'+ v.last + '</span> <span>'+ v.root + '</span></li>');
          ++total;
          $('#total').text(total);
      });
  })(jQuery);
</script>
</body>
</html>