<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  あいうえお
  <script src="http://cdn.mlkcca.com/v0.2.8/milkcocoa.js"></script>
  <script >
    // Milkcocoa API
    var MilkCocoa = require('milkcocoa');

    // milkcocoa object (milkcocoaというオブジェクトを使うことでMilkcocoaのAPIが使用できる)
    var milkcocoa = new MilkCocoa('flagiodjdk8y.mlkcca.com');

    // 'messages'というデータストア名のデータストアを作成（取得）
    var ds = milkcocoa.dataStore('messages');

    // titleが'hoge'、contentが'huga'というデータを送信（保存はされない）
    ds.send({title : 'hoge', content : 'huga'});
    // titleが'hoge'、contentが'huga'というデータを送信＆保存
    ds.push({title : 'hoge', content : 'huga'});
  </script>

</body>
</html>
